.grid-background {
  position: absolute;
  inset: 0;
  background-image: 
    linear-gradient(to right, hsl(var(--primary) / 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, hsl(var(--primary) / 0.3) 1px, transparent 1px),
    linear-gradient(to top, hsl(var(--primary-dark) / 0.1), hsl(var(--primary) / 0.2));
  background-size: 50px 50px, 50px 50px, 100% 100%;
  opacity: 1;
  z-index: 1;
}